In [3]:
import numpy as np
import pandas as pd
import csv
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [4]:
tr_df=pd.read_csv('train.csv', nrows=1e5)
tr_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [5]:
tr_df=tr_df.drop(columns=['pickup_datetime'])
tr_df=tr_df.dropna()

tr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                100000 non-null  object
 1   fare_amount        100000 non-null  float64
 2   pickup_longitude   100000 non-null  float64
 3   pickup_latitude    100000 non-null  float64
 4   dropoff_longitude  100000 non-null  float64
 5   dropoff_latitude   100000 non-null  float64
 6   passenger_count    100000 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 6.1+ MB

In [6]:
tr_df=tr_df[tr_df['fare_amount']>0]
train_labels=np.array(tr_df['fare_amount'])
tr_df=tr_df.drop(columns=['key','fare_amount'])
train_features=np.array(tr_df)
tr_df.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,-73.844311,40.721319,-73.841610,40.712278,1
1,-74.016048,40.711303,-73.979268,40.782004,1
2,-73.982738,40.761270,-73.991242,40.750562,2
3,-73.987130,40.733143,-73.991567,40.758092,1
4,-73.968095,40.768008,-73.956655,40.783762,1

In [7]:
te_df=pd.read_csv('test.csv')
submsn0_df=te_df
submsn1_df=te_df
submsn2_df=te_df
submsn3_df=te_df
te_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                9914 non-null   object
 1   pickup_datetime    9914 non-null   object
 2   pickup_longitude   9914 non-null   float64
 3   pickup_latitude    9914 non-null   float64
 4   dropoff_longitude  9914 non-null   float64
 5   dropoff_latitude   9914 non-null   float64
 6   passenger_count    9914 non-null   int64
dtypes: float64(4), int64(1), object(2)
memory usage: 542.3+ KB

In [8]:
te_df=te_df.drop(columns=['key','pickup_datetime'])
te_df=te_df.dropna()

te_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9914 entries, 0 to 9913
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pickup_longitude   9914 non-null   float64
 1   pickup_latitude    9914 non-null   float64
 2   dropoff_longitude  9914 non-null   float64
 3   dropoff_latitude   9914 non-null   float64
 4   passenger_count    9914 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 464.7 KB

In [9]:
test_features=np.array(te_df)

In [10]:
lin=LinearRegression()
lin.fit(train_features,train_labels)

LinearRegression()

In [11]:
rf=RandomForestRegressor(n_estimators=1000,max_features='sqrt')
rf.fit(train_features,train_labels)

RandomForestRegressor(max_features='sqrt', n_estimators=1000)

In [13]:
knn=KNeighborsRegressor()
knn.fit(train_features,train_labels)

KNeighborsRegressor()

In [14]:
grb=GradientBoostingRegressor(n_estimators=1000,max_features='sqrt')
grb.fit(train_features,train_labels)

GradientBoostingRegressor(max_features='sqrt', n_estimators=1000)

In [15]:
pred=lin.predict(test_features)
sub0_df=pd.DataFrame(pred,columns=['fare_amount'])
submsn0_df=pd.concat([submsn0_df,sub0_df],axis=1)
submsn0_df=submsn0_df.drop(['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','pickup_datetime'],axis=1)
submsn0_df.to_csv(r'submsn0.csv',index=False)

In [16]:
pred=rf.predict(test_features)
sub1_df=pd.DataFrame(pred,columns=['fare_amount'])
submsn1_df=pd.concat([submsn1_df,sub1_df],axis=1)
submsn1_df=submsn1_df.drop(['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','pickup_datetime'],axis=1)
submsn1_df.to_csv(r'submsn1.csv',index=False)

In [17]:
pred=knn.predict(test_features)
sub2_df=pd.DataFrame(pred,columns=['fare_amount'])
submsn2_df=pd.concat([submsn2_df,sub2_df],axis=1)
submsn2_df=submsn2_df.drop(['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','pickup_datetime'],axis=1)
submsn2_df.to_csv(r'submsn2.csv',index=False)

In [18]:
pred=grb.predict(test_features)
sub3_df=pd.DataFrame(pred,columns=['fare_amount'])
submsn3_df=pd.concat([submsn3_df,sub3_df],axis=1)
submsn3_df=submsn3_df.drop(['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','pickup_datetime'],axis=1)
submsn3_df.to_csv(r'submsn3.csv',index=False)